@import 'materialize-css/sass/materialize.scss';
@import "../../../theme/colors.scss";

.vacancy.full {
  cursor: default;
}

section.description {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.industryAndWebsite .secondLine {
  text-align: right;
}

a.btn {
  &,
  &:hover {
    background-color: $telegram;
  }
}

span.website {
  &:before {
    content: "•";
    margin: 0 7px;
  }
  
  & a {
    color: $warmText;
    border-bottom-color: rgba(251,249,222,.4);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    cursor: pointer;

    &:hover {
      border-bottom: none;
    }
  }
}