@import 'materialize-css/sass/materialize.scss';
@import "../../../theme/colors.scss";


.vacanciesLayer {
  background-color: $baseLighten;
  padding-top: 60px !important;
  padding-bottom: 60px !important;
  z-index: -1;
  
  & h3 {
    margin-top: 0;
    color: $warmText;
  }

  & .btn {
    background-color: $contrast;
    color: $warmText;

    &:hover {
      background-color: $contrast;
    }
  }
}
