@import "../../../node_modules/materialize-css/sass/materialize.scss";
@import "../../theme/colors.scss";


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  background-color: $baseLighten;
}

.rowNoBottomMargin {
  margin-bottom: 0 !important;
}

.colNoSidePadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.pNoMargin {
  margin-top: 0;
  margin-bottom: 0;
}

.row .col {
  padding: 0;
}

.card-panel .row {
  padding: 0 0.75em;
}

::selection {
  color: $base;
  background: $warmTextLighten;
}

@media #{$large-and-up} {
  .row .col.l5_5 {
    width: percentage(11/24);
    margin-left: auto;
    left: auto;
    right: auto;
  }
}
