$base: #31313b;
$baseHalfLighten: #393943;
$baseLighten: #41414b;
$warmTextLighten: #fbfbf0;
$warmText: #fbf9df;
$warmTextDarken: #cec6ac;
$contrast: #dc852e;
$telegram: #0088cc;
$redText: #ff5b5b;
$redBorder: #df4b4b;
