@import "materialize-css/sass/materialize.scss";
@import "../../../theme/colors.scss";


.postVacancyForm section {  
  &.post {
    margin-bottom: 2em;
  }

  & h5 {
    color: $warmText;
    line-height: 46px;
    margin-top: 1rem;
  }

  & .col.form {

    & .left {
      padding-right: 0.5em !important;
    }

    & .right {
      padding-left: 0.5em !important;
    }

    @media #{$medium-and-up} {
      & .left {
        padding-right: 1em !important;
      }
  
      & .right {
        padding-left: 1em !important;
      }
    }

    & .inline-text {
      color: $warmText;
      position: relative;
      bottom: 5px;
    }
  }

  & .input-field {
    color: $warmText !important;
    position: relative;

    & input {
      margin-bottom: 0;
      color: $warmText;
    }

    &.inline {
      margin: 0 0 0 7px !important;
    }

    & label,
    & input[type=text]:focus + label {
      color: $warmTextDarken !important;
    }

    & input[type=text]:focus,
    & input[type=text].valid {
      border-bottom: 1px solid $warmTextDarken !important;
      box-shadow: 0 1px 0 0 $warmTextDarken !important;
    }

    & input[type=text].invalid {
      border-bottom: 1px solid $contrast !important;
      box-shadow: 0 1px 0 0 $contrast !important;
    }
  }

  textarea {
    color: $warmText !important;
    height: 48px;

    &:focus + label {
      color: $warmTextDarken !important;
    }

    &:focus {
      border-bottom: 1px solid $warmTextDarken !important;
      box-shadow: 0 1px 0 0 $warmTextDarken !important;
    }
  }

  & .select-wrapper {
    margin-top: 1rem;
    margin-bottom: 1rem;

    & input.select-dropdown {
      border-bottom-color: $warmTextDarken !important;
      color: $warmText !important;
      font-size: inherit !important;
    }

    & .caret {
      fill: $warmTextDarken !important;
    }
  }

  & .select-dropdown.dropdown-content li.selected {
    background-color: $baseHalfLighten !important;
  }

  & .select-dropdown li.disabled, 
  & .select-dropdown li.disabled > span, 
  & .select-dropdown li.optgroup {
      color: $warmTextDarken !important;
      background-color: $baseHalfLighten !important;
  }

  & .dropdown-content li > span {
    color: $warmText !important;
  }

  & a.btn:not(.disabled),
  & a.btn:not(.disabled):hover {
    background-color: $contrast !important;
    color: $warmText !important;
  }

  label[for=post-vacancy-form-location-remote] {
    color: $warmTextDarken !important;

    & span {
      margin-top: 1em;
    }
  }

  [type="checkbox"]:checked + span:not(.lever)::before {
    border-right: 2px solid $warmTextDarken !important;
    border-bottom: 2px solid $warmTextDarken !important;
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus
  input:-webkit-autofill, 
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    // border: 0;
    -webkit-text-fill-color: $warmText;
    box-shadow: 0 0 0px 1000px transparent inset;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
    background: -webkit-linear-gradient(
      top, 
      rgba(255,255,255,0) 0%
      rgba(0,174,255,0.04) 50%
      rgba(255,255,255,0) 51%
      rgba(0,174,255,0.03) 100%
    );
  }
}
