@import "../../../theme/colors.scss";


.mainLayer {
  background-color: $baseHalfLighten;
  padding-top: 60px !important;
  padding-bottom: 60px !important;

  & h3.first {
    margin-top: 0;
  }

  & .mainLayerText {
    color: $warmText !important;
  }

  & .mainLayerTextDarken {
    color: $warmTextDarken !important;
  }

  & .mainLayerCompanyLogo {
    height: 40px;
    margin-top: 30px;
    text-align: center;

    & > span {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    & > img {
      max-height: 40px;
      max-width: 100%;
      vertical-align: middle;
    }
  }

  & .mainLayerButtons {
    margin-top: 30px;

    & > a.btn {
      background-color: $contrast;
      color: $warmText
    }
  }

  & .buttonLeft {
    margin-left: 16px;
  }
}
