@import 'materialize-css/sass/materialize.scss';
@import "../../../theme/colors.scss";


.mainLayer {
  background-color: $baseHalfLighten;
  padding-top: 60px !important;
  padding-bottom: 60px !important;

  @media #{$medium-and-down} {
    & h3.first {
      margin-top: 0;
    }
  }

  @media #{$medium-and-down} {
    & h3.second {
      margin-top: 60px;
      font-size: 1.3rem;
    }
  }

  @media #{$large-and-up} {
    & h3.second {
      text-align: center;
    }
  }

  & .mainLayerText {
    color: $warmText !important;
  }

  & .mainLayerTextDarken {
    color: $warmTextDarken !important;
  }

  & .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -20px;
  }

  & .mainLayerCompanyLogo {
    height: 40px;
    margin: 40px 30px 0;
    text-align: center;

    & > span {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    & > img {
      max-height: 40px;
      max-width: 100%;
      vertical-align: middle;
    }
  }

  & .mainLayerButtons {
    margin-top: 30px;

    & > a.btn {
      background-color: $contrast;
      color: $warmText
    }
  }

  & .buttonLeft {
    margin-left: 16px;
  }
}
