@import 'materialize-css/sass/materialize.scss';
@import "../../theme/colors.scss";


.edgeBarHeader,
.edgeBarFooter {
  z-index: 1;

  & .edgeBarText {
    color: $warmText !important;
  }
}

.edgeBarHeader {
  box-shadow:
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
  
  & > nav {
    background-color: $base !important;

    & .last {
      margin-right: -15px;
    }

    & .edgeBarText {
      display: inline-block;

      & > svg {
        vertical-align: middle;
        position: relative;
        bottom: 3px;
      }
    }

    & li > a > i {
      color: $warmText;
    }
  }
}

.edgeBarFooter {
  background-color: $base !important;
  padding-top: 0 !important;
  box-shadow:
    0 -2px 2px 0 rgba(0, 0, 0, 0.14),
    0 -3px 1px -2px rgba(0, 0, 0, 0.12),
    0 -1px 5px 0 rgba(0, 0, 0, 0.2);

  & > .footer-copyright {
    background-color: unset !important;
    padding: 24px 0 !important;

    & > .edgeBarFooterParagraphs > p {
      margin: 0 !important;
    }
  }

  & div.edgeBarText {
    display: inline-block;
    & svg {
      width: 60px;
      height: 24px;
      vertical-align: middle;
    }
  }
}