@import 'materialize-css/sass/materialize.scss';
@import "../../../theme/colors.scss";


main > nav {
  background-color: $baseLighten !important;
  box-shadow: none !important;

  & span,
  & span > a {
    color: $warmText !important;
  }
}

.breadcrumbsLayer {
  padding-top: 60px;
}

.breadcrumb a,
.breadcrumb::before {
  color: $warmTextDarken !important;
}

@media #{$small-and-down} {
  .breadcrumb::before {
    margin: 0 5px !important;
  }
}