@import 'materialize-css/sass/materialize.scss';
@import "../../../theme/colors.scss";


.vacanciesFilterLayer {
  & h3 {
    margin-top: 0;
    color: $warmText;
  }

  .card-panel.filter {
    padding: 0 24px;

    & .row {
      margin-bottom: 0 !important;
    }

    & h5 {
      margin-top: 0;
    }
  }
  
  .select-wrapper {
    & input.select-dropdown {
      border-bottom-color: $warmTextDarken !important;
      color: $warmText !important;
    }

    & .caret {
      fill: $warmTextDarken !important;
    }
  }

  .select-dropdown.dropdown-content li.selected {
    background-color: $baseHalfLighten !important;
  }

  .select-dropdown li.disabled, 
  .select-dropdown li.disabled > span, 
  .select-dropdown li.optgroup {
      color: $warmTextDarken !important;
      background-color: $baseHalfLighten !important;
  }

  .dropdown-content li > span {
    color: $warmText !important;
  }

  .filter {
    background-color: $base !important;
    color: $warmText !important;
    border-radius: 2px;
  }
  
  @media #{$medium-and-up} {
    & .vacancies > .m3_5 {
      width: percentage(7/24) !important;
    }
  }
}
