@import "../../../theme/colors.scss";


#mainPreloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  & .spinner-layer {
    border-color: $warmText !important;
  }
}
