@import 'materialize-css/sass/materialize.scss';
@import "../../theme/colors.scss";


.vacancy {
  cursor: pointer;
  background-color: $base !important;
  color: $warmText !important;
  border-radius: 2px;

  &.premium {
    border: 2px solid $warmTextDarken;
  }

  & .jobTitle > h5 {
    margin: 0;
    line-height: 1.25;

    @media #{$small-and-down} {
      font-weight: bold;
      font-size: 1.15rem;
    }
  }

  & .moneySummary > h6 {
    margin: 0;
    font-weight: bold;
    margin-bottom: 5px;
  }

  & .secondLine {
    margin-top: 4px;
  }

  & .location,
  & .companyName {
    text-align: right;
  }

  & .smaller {
    font-size: 1.3rem;
  }

  & .stack > p {
    margin-bottom: 4px;
    margin-top: 0;
  }

  .remote {
    background: $baseLighten;
    padding: 2px 6px;
    border-radius: 3px;
    float: right;
    font-weight: 700;
    box-shadow: rgba(43, 24, 24, 0.07) 0px 2px 2px 0px, rgba(0, 0, 0, 0.06) 0px 3px 1px -2px, rgba(0, 0, 0, 0.1) 0px 1px 5px 0px;
  }


  .details {
    margin-bottom: 0;
  }
};
